<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}" />
  </head>
  
  <div class="panel">
    {% if joke %}
    <h1>{{joke}}</h1>
    {% else %}
    <h1>Click the button if you want to hear a joke</h1>
    {% endif %}
    <hr>
    <form action="/joke">
        <button class='glowing-btn'>
          <span class='glowing-txt'>J<span class='faulty-letter'>O</span>KE</span></button>
    </form>
  </div>