<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}" />
  </head>
  
<div class="container">

  <div class="panel">
    <hr>
    {% if joke %}
    <h1>{{joke}}</h1>
    {% else %}
    <h1>Click a button if you want to hear a joke</h1>
    {% endif %}
    <hr>
  </div>

  <div id="parent-container">
    <div id="first">
      <div class="btn-container">
        <form action="/joke">
          <div class="grid-item">
            <button class='glowing-btn' id = "button1">
              <span class='glowing-txt'>RANDOM</span></button>
          </div>
        </form>
        <form action="/animal">
          <div class="grid-item">
            <button class='glowing-btn' id = "button2">
              <span class='glowing-txt'>ANIMAL</span></button>
          </div>
        </form>
        <form action="/dad">
          <div class="grid-item">
            <button class='glowing-btn' id = "button3">
              <span class='glowing-txt'>DAD</span></button>
          </div>
        </form>
        <form action="/pun">
          <div class="grid-item">
            <button class='glowing-btn' id = "button4">
              <span class='glowing-txt'>PUNNY</span></button>
          </div>
        </form>
        <form action="/dark">
          <div class="grid-item">
            <button class='glowing-btn' id = "button5">
              <span class='glowing-txt'>DARK</span></button>
          </div>
        </form>
        <form action="/law">
          <div class="grid-item">
            <button class='glowing-btn' id = "button6">
              <span class='glowing-txt'>LAW</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div>

  